{% extends "base.html" %}

{% block title %}Loops{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1>Loops</h1>
  <ul>
    {% for loop in loops %}
    <li class="mb-4 border p-3 shadow-sm bg-light">
      {% comment %} <a href="{% url 'loop_detail' loop.id %}"> {% endcomment %}
      <img src="{{ loop.cover_image.url }}" alt="(Loop Image)" width="100" height="100" />
      <h4>{{ loop.title }}</h2>
      <p>{{ loop.description }}</p>
        <p>Uploaded by: <a href="{% url 'profile' pk=loop.user.id%}">{{ loop.user.username }}</a></p>
      <audio controls>
          <source src="{{ loop.audio.url }}" type="audio/mpeg">
      </audio>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}