{% extends "base.html" %}
{% load static %}

{% block head %}
  <script src="{% static 'likes.js' %}"></script>
{% endblock %}
{% block content %}

<div class="container mt-5" id="uploadableitem-detail-container">
  <h1>{{ item.title }}</h1>
  <img src="{{ item.cover_image.url }}" alt="(Cover Image)" width="100" height="100" />
  <audio controls>
    <source src="{{ item.audio_file.url }}" type="audio/mpeg">
  </audio>
  <p>{{ item.description }}</p>
  {% if item.bpm %}
    <p>BPM: {{ item.bpm }}</p>
  {% endif %}
  <p>
    {% for tag in item.tags.all %}
    <span class="badge bg-secondary">{{ tag.name }}</span>
    {% empty %}
        <span class="text-muted">No tags</span>
    {% endfor %}
</p>
  <p>Uploaded at: {{ item.uploaded_at|date:"d M Y H:i" }}</p>
  <p>Uploaded by: <a href="{% url 'profile' pk=item.user.id %}">{{ item.user.username }}</a></p>

  <div class="d-inline-block me-2 gap-2">
    {% if request.user in item.likes.all %}
      <i class="fas fa-heart fa-lg like-icon uploadable" data-id="{{ item.id }}" data-type="{{ modeltype }}"></i>
    {% else %}
      <i class="far fa-heart fa-lg like-icon uploadable" data-id="{{ item.id }}" data-type="{{ modeltype }}"></i>
    {% endif %}
    <span class="like-count">{{ item.likes_count }}</span>
    <form method="post" action="{% url 'add_comment' pk=item.id modeltype=modeltype %}">
      {% csrf_token %}
      {{ commentForm.body }}
      <button type="submit" class="btn btn-primary btn-sm mt-2">Add Comment</button>
    </form>
  </div>

  <h3>Comments</h3>

{% for comment in comments %}
    <div class="row mt-3 border p-3 shadow-sm bg-light comment-container">
      <div class="d-inline align-middle p-2 mb-2">
        <a href="{% url 'profile' pk=comment.user.id %}" class="text-decoration-none text-dark">
        <img src="{{ comment.user.profileimage.image.url }}" alt="Profile Image" class="rounded-circle" width="30" height="30">
        <h5 class="d-inline ms-2 align-middle">{{ comment.user.username }}</h5>
        </a>
      </div>
      <hr>
        <p>
          {{ comment.body }}
        </p>
        <br>
        <div class="row">
          <div class="col-1">
          <p class="text-start">
            <small>
              {% if comment in liked_comments %}
                <i class="fas fa-heart fa-lg like-icon comment" data-id="{{ comment.id }}" data-type="comment"></i>
              {% else %}
                <i class="far fa-heart fa-lg like-icon comment" data-id="{{ comment.id }}" data-type="comment"></i>
              {% endif %}
              <span class="like-count">{{ comment.likes_count }}</span>
              <i class="far fa-comment fa-lg ms-1 comment_reply"></i>
              <span class="reply-count">{{ comment.replies_count }}</span>
            </small>
          </p>
          </div>
          <div class="col-6">
              <form method="post" action="{% url 'add_comment_with_parent' pk=item.id modeltype=modeltype parent_id=comment.id %}" class="d-none reply-form">
                {% csrf_token %}
                {{ commentForm.body }}
                <button type="submit" class="btn btn-primary btn-sm ms-2">Reply</button>
              </form>
          </div>
          <div class="col-4">
            <p class="text-end">
              <small class="text-muted">
                {{ comment.created_at|date:"M d, Y H:i" }}
              </small>
            </p>
          </div>
          <div class="col-1 text-end">
          {% if comment.user == request.user %}
                <form method="POST" action="{% url 'delete_comment' pk=comment.id modtype=modeltype upl_pk=item.id %}">
                  {% csrf_token %}
                  <button type="button" class="btn btn-outline-danger btn-sm delete-btn">Delete</button>
                </form>              
              {% endif %}
          </div>
          
        <br>
        </div>

        {% comment %} <div class="mt-3">
          <form method="post" action="{% url 'add_reply' comment.id %}">
            {% csrf_token %}
            <div class="form-group">
              <textarea name="reply_body" class="form-control" rows="2" placeholder="Write a reply..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm mt-2">Reply</button>
          </form>
        </div> {% endcomment %}
    </div>

    {% endfor %}
    
    {% include "components/delete_confirm_modal.html"%}

    <script>
      document.querySelectorAll('.comment_reply').forEach(button => {
        button.addEventListener('click', function() {
          console.log('Reply button clicked');
          const replyForm = this.closest('.row').querySelector('.reply-form');
          if (replyForm) {
            console.log('Reply form found');
            if (replyForm.classList.contains('d-none')) {
              replyForm.classList.remove('d-none');
              replyForm.classList.add('d-flex');
                const username = this.closest('.comment-container').querySelector('h5').textContent.trim();
                replyForm.querySelector('textarea').value = `@${username} `;
            } else {
              replyForm.classList.remove('d-flex');
              replyForm.classList.add('d-none');
            }
          }
        });
      });    
    </script>

{% endblock %}