<div class="modal fade" id="previewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Conferma immagine</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body text-center">
            <p>L'immagine deve essere in formato JPG o PNG e non superare i 2MB di dimensione.</p>
            <p>La lunghezza del nome del file non deve superare i 50 caratteri.</p>
          <img id="imagePreview" class="img-thumbnail" width="150" height="150" alt="Anteprima">
        </div>
        <div class="modal-footer">
          <button id="confirmUploadBtn" class="btn btn-primary">Carica</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        </div>
      </div>
    </div>
  </div>